.hero-section {
  position: relative;
  padding: 20px;
  /* justify-content: center; */
  margin-left: 5rem;
  width: 90%;
  height: 100vh; /* Full screen height */
  overflow: hidden;
}

.carousel-image {
    border-radius: 20px;
  height: 80vh; /* Full screen height images */
  object-fit: cover;
}

.header-overlay {
  position: absolute;
  top: 69%;
  right: -10%;
  transform: translate(-50%, -50%);
  color: rgb(255, 251, 251);
  text-align: center;
  z-index: 10;
}

.header-overlay h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.header-overlay p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.header-overlay button {
  background: #49557e;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  transition: background 0.3s;
}
.header-overlay button:hover {
  background: #2ecc71;
}

